.App {
  text-align: center;
}

:root {
  --button-border-radius: 0.3em;
}
@media only screen and (min-width: 700px) {
  :root {
    --siteheader-height: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --siteheader-height: 5rem;
  }
}
